
.stays-container .stays-container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.stays-container .stays-container-body{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
